@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"),url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"),url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 360px;
}

body {
  color: #252326;
  line-height: 1;
  font-family: "Gilroy",sans-serif;
  font-size: 1.375rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Gilroy",sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper>main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper>* {
  min-width: 0;
}

[class*=__container] {
  max-width: 93.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.875rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1875;
  text-align: center;
  color: #000;
  border-radius: 10px;
  -webkit-transition: background-color .4s ease 0s;
  transition: background-color .4s ease 0s;
}

.button._fw {
  width: 100%;
}

.button_blue {
  background: #b0c9ff;
}

.button_blue:hover {
  background-color: #9bbafc;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 700;
  line-height: 1.2;
}

@supports (font-size: clamp( 1.875rem , 1.2890625rem  +  1.953125vw , 2.5rem )) {
  .title {
    font-size: clamp( 1.875rem , 1.2890625rem  +  1.953125vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.2890625rem  +  1.953125vw , 2.5rem )) {
  .title {
    font-size: calc(1.875rem + 0.625*(100vw - 30rem)/32);
  }
}

.text {
  line-height: 1.5909090909;
}

@supports (font-size: clamp( 1.125rem , 0.890625rem  +  0.78125vw , 1.375rem )) {
  .text {
    font-size: clamp( 1.125rem , 0.890625rem  +  0.78125vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.890625rem  +  0.78125vw , 1.375rem )) {
  .text {
    font-size: calc(1.125rem + 0.25*(100vw - 30rem)/32);
  }
}

.header {
  z-index: 10;
  position: fixed;
  width: 100%;
}

.cookies-header {
  z-index: 2;
  position: relative;
  width: 100%;
  background: #feece0;
}

.cookies-header._cookies-active {
  display: none;
}

.cookies-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cookies-header__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8125rem;
  padding: 0.3125rem 0;
}

.cookies-header__text {
  font-size: 1rem;
  line-height: 1.1875;
  color: #000;
}

@supports (font-size: clamp( 0.875rem , 0.6666666667rem  +  0.6944444444vw , 1rem )) {
  .cookies-header__text {
    font-size: clamp( 0.875rem , 0.6666666667rem  +  0.6944444444vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.6666666667rem  +  0.6944444444vw , 1rem )) {
  .cookies-header__text {
    font-size: calc(0.875rem + 0.125*(100vw - 30rem)/18);
  }
}

.cookies-header__button {
  padding: 0.5625rem 1.3125rem 0.5rem;
}

.cookies-header__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22px;
          flex: 0 0 22px;
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 3px;
  border: 2px solid #252326;
  -webkit-transition: background-color .4s ease 0s;
  transition: background-color .4s ease 0s;
}

.cookies-header__close:hover {
  background-color: #b0c9ff;
}

.cookies-header__close span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cookies-header__close span::before,
.cookies-header__close span::after {
  content: "";
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  position: absolute;
  width: 0.75rem;
  height: 0.125rem;
  background-color: #000;
  border-radius: 3px;
}

.cookies-header__close span::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cookies-header__close span::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-header {
  z-index: 1;
  position: fixed;
  width: 100%;
}

@supports (padding-top: clamp( 1.125rem , -0.6179718876rem  +  2.8112449799vw , 2rem )) {
  .main-header {
    padding-top: clamp( 1.125rem , -0.6179718876rem  +  2.8112449799vw , 2rem );
  }
}

@supports not (padding-top: clamp( 1.125rem , -0.6179718876rem  +  2.8112449799vw , 2rem )) {
  .main-header {
    padding-top: calc(1.125rem + 0.875*(100vw - 62rem)/31.125);
  }
}

@supports (padding-bottom: clamp( 1.125rem , -0.6179718876rem  +  2.8112449799vw , 2rem )) {
  .main-header {
    padding-bottom: clamp( 1.125rem , -0.6179718876rem  +  2.8112449799vw , 2rem );
  }
}

@supports not (padding-bottom: clamp( 1.125rem , -0.6179718876rem  +  2.8112449799vw , 2rem )) {
  .main-header {
    padding-bottom: calc(1.125rem + 0.875*(100vw - 62rem)/31.125);
  }
}

.main-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

@supports (gap: clamp( 1rem , -0.9919678715rem  +  3.2128514056vw , 2rem )) {
  .main-header__container {
    gap: clamp( 1rem , -0.9919678715rem  +  3.2128514056vw , 2rem );
  }
}

@supports not (gap: clamp( 1rem , -0.9919678715rem  +  3.2128514056vw , 2rem )) {
  .main-header__container {
    gap: calc(1rem + 1*(100vw - 62rem)/31.125);
  }
}

.main-header__logo {
  position: relative;
  z-index: 2;
}

@supports (width: clamp( 11.9375rem , -0.2633032129rem  +  19.6787148594vw , 18.0625rem )) {
  .main-header__logo img {
    width: clamp( 11.9375rem , -0.2633032129rem  +  19.6787148594vw , 18.0625rem );
  }
}

@supports not (width: clamp( 11.9375rem , -0.2633032129rem  +  19.6787148594vw , 18.0625rem )) {
  .main-header__logo img {
    width: calc(11.9375rem + 6.125*(100vw - 62rem)/31.125);
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 0.3125rem;
  line-height: 1.1875;
  color: #000;
  padding: 0.9375rem 1.1875rem;
  border-radius: 10px;
  -webkit-transition: background-color .4s ease 0s;
  transition: background-color .4s ease 0s;
}

@supports (font-size: clamp( 0.875rem , 0.6260040161rem  +  0.4016064257vw , 1rem )) {
  .menu__link {
    font-size: clamp( 0.875rem , 0.6260040161rem  +  0.4016064257vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.6260040161rem  +  0.4016064257vw , 1rem )) {
  .menu__link {
    font-size: calc(0.875rem + 0.125*(100vw - 62rem)/31.125);
  }
}

.menu__link:hover {
  background-color: #ececec;
}

.menu__link span {
  display: block;
  width: 0.625rem;
  height: 0.375rem;
  -webkit-transform: translateY(0.125rem);
      -ms-transform: translateY(0.125rem);
          transform: translateY(0.125rem);
  background: url("../img/icons/arrow-header.svg") no-repeat;
}

.actions-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 0.8125rem , -0.4324799197rem  +  2.0080321285vw , 1.4375rem )) {
  .actions-header {
    gap: clamp( 0.8125rem , -0.4324799197rem  +  2.0080321285vw , 1.4375rem );
  }
}

@supports not (gap: clamp( 0.8125rem , -0.4324799197rem  +  2.0080321285vw , 1.4375rem )) {
  .actions-header {
    gap: calc(0.8125rem + 0.625*(100vw - 62rem)/31.125);
  }
}

.actions-header__button {
  padding: 0.9375rem 1.625rem;
}

.actions-header__user {
  position: relative;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: opacity .4s ease 0s;
  transition: opacity .4s ease 0s;
}

.actions-header__user:hover {
  opacity: .7;
}

.icon-menu {
  display: none;
}

.footer {
  position: relative;
}

.no-webp .footer::before {
  background: url("../img/footer/bg.png") no-repeat bottom right; }

.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.block-footer {
  position: relative;
  z-index: 2;
  background: rgba(0,0,0,0);
}

@supports (margin-bottom: clamp( -5.25rem , -5.66015625rem  +  1.3671875vw , -4.8125rem )) {
  .block-footer {
    margin-bottom: clamp( -5.25rem , -5.66015625rem  +  1.3671875vw , -4.8125rem );
  }
}

@supports not (margin-bottom: clamp( -5.25rem , -5.66015625rem  +  1.3671875vw , -4.8125rem )) {
  .block-footer {
    margin-bottom: calc(-5.25rem + 0.4375*(100vw - 30rem)/32);
  }
}

.block-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-footer__text {
  position: relative;
  max-width: 69.375rem;
  min-height: 17.75rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 45px 0 rgba(0,0,0,.15);
          box-shadow: 0 0 45px 0 rgba(0,0,0,.15);
  background: #a7f3ff;
  padding: 2.9375rem 2.3125rem 2.3125rem 2.3125rem;
}

.block-footer__text p {
  line-height: 1.5909090909;
  text-align: center;
}

@supports (font-size: clamp( 1.125rem , 0.890625rem  +  0.78125vw , 1.375rem )) {
  .block-footer__text p {
    font-size: clamp( 1.125rem , 0.890625rem  +  0.78125vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.890625rem  +  0.78125vw , 1.375rem )) {
  .block-footer__text p {
    font-size: calc(1.125rem + 0.25*(100vw - 30rem)/32);
  }
}

.block-footer__text::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -4.625rem;
  right: -4.625rem;
  background: url("../img/footer/footer-block-bg.svg") no-repeat top right;
  z-index: -1;
}

.top-footer {
  background: #0d1b36;
}

.top-footer__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 0.5rem , 1.34765625rem  +  -1.3671875vw , 0.9375rem )) {
  .top-footer__container {
    gap: clamp( 0.5rem , 1.34765625rem  +  -1.3671875vw , 0.9375rem );
  }
}

@supports not (gap: clamp( 0.5rem , 1.34765625rem  +  -1.3671875vw , 0.9375rem )) {
  .top-footer__container {
    gap: calc(0.9375rem + -0.4375*(100vw - 30rem)/32);
  }
}

@supports (padding-top: clamp( 6.8125rem , 5.640625rem  +  3.90625vw , 8.0625rem )) {
  .top-footer__container {
    padding-top: clamp( 6.8125rem , 5.640625rem  +  3.90625vw , 8.0625rem );
  }
}

@supports not (padding-top: clamp( 6.8125rem , 5.640625rem  +  3.90625vw , 8.0625rem )) {
  .top-footer__container {
    padding-top: calc(6.8125rem + 1.25*(100vw - 30rem)/32);
  }
}

@supports (padding-bottom: clamp( 2rem , 1.1796875rem  +  2.734375vw , 2.875rem )) {
  .top-footer__container {
    padding-bottom: clamp( 2rem , 1.1796875rem  +  2.734375vw , 2.875rem );
  }
}

@supports not (padding-bottom: clamp( 2rem , 1.1796875rem  +  2.734375vw , 2.875rem )) {
  .top-footer__container {
    padding-bottom: calc(2rem + 0.875*(100vw - 30rem)/32);
  }
}

.top-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-footer__link {
  position: relative;
  line-height: 2;
  text-align: center;
  color: #fff;
}

@supports (font-size: clamp( 1.25rem , 0.95703125rem  +  0.9765625vw , 1.5625rem )) {
  .top-footer__link {
    font-size: clamp( 1.25rem , 0.95703125rem  +  0.9765625vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.95703125rem  +  0.9765625vw , 1.5625rem )) {
  .top-footer__link {
    font-size: calc(1.25rem + 0.3125*(100vw - 30rem)/32);
  }
}

.top-footer__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.0625rem;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transition: width .4s ease 0s;
  transition: width .4s ease 0s;
}

.top-footer__link:hover::before {
  width: 100%;
}

.bottom-footer {
  background: #0d1b36;
}

.bottom-footer__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #a7f3ff;
}

@supports (padding-top: clamp( 0.8125rem , 0.28515625rem  +  1.7578125vw , 1.375rem )) {
  .bottom-footer__container {
    padding-top: clamp( 0.8125rem , 0.28515625rem  +  1.7578125vw , 1.375rem );
  }
}

@supports not (padding-top: clamp( 0.8125rem , 0.28515625rem  +  1.7578125vw , 1.375rem )) {
  .bottom-footer__container {
    padding-top: calc(0.8125rem + 0.5625*(100vw - 30rem)/32);
  }
}

@supports (padding-bottom: clamp( 1.375rem , 3.67578125rem  +  -3.7109375vw , 2.5625rem )) {
  .bottom-footer__container {
    padding-bottom: clamp( 1.375rem , 3.67578125rem  +  -3.7109375vw , 2.5625rem );
  }
}

@supports not (padding-bottom: clamp( 1.375rem , 3.67578125rem  +  -3.7109375vw , 2.5625rem )) {
  .bottom-footer__container {
    padding-bottom: calc(2.5625rem + -1.1875*(100vw - 30rem)/32);
  }
}

.bottom-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.bottom-footer__link {
  font-size: 1rem;
  line-height: 2.1875;
  color: #fff;
  -webkit-transition: color .4s ease 0s;
  transition: color .4s ease 0s;
}

.bottom-footer__link:hover {
  color: #a7f3ff;
}

.bottom-footer__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.1875rem;
}

.bottom-footer__social {
  -webkit-transition: -webkit-transform .4s ease 0s;
  transition: -webkit-transform .4s ease 0s;
  transition: transform .4s ease 0s;
  transition: transform .4s ease 0s, -webkit-transform .4s ease 0s;
}

.bottom-footer__social:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.bottom-footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8125rem;
}

.bottom-footer__text {
  font-size: 1rem;
  line-height: 2.1875;
  color: #fff;
}

.testimonials {
  position: relative;
  padding-top: 11.0625rem;
  padding-bottom: 8.6875rem;
}

.no-webp .testimonials::before {
  background: url("../img/testimonials/testimonials/bg.png") no-repeat top 15% right; }

.testimonials::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}

.testimonials__container {
  position: relative;
  z-index: 1;
}

.testimonials__title {
  text-align: center;
}

@supports (margin-bottom: clamp( 1.25rem , 2.4609375rem  +  -1.953125vw , 1.875rem )) {
  .testimonials__title:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 2.4609375rem  +  -1.953125vw , 1.875rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 2.4609375rem  +  -1.953125vw , 1.875rem )) {
  .testimonials__title:not(:last-child) {
    margin-bottom: calc(1.875rem + -0.625*(100vw - 30rem)/32);
  }
}

.testimonials__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (gap: clamp( 1.25rem , 0.6640625rem  +  1.953125vw , 1.875rem )) {
  .testimonials__actions {
    gap: clamp( 1.25rem , 0.6640625rem  +  1.953125vw , 1.875rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.6640625rem  +  1.953125vw , 1.875rem )) {
  .testimonials__actions {
    gap: calc(1.25rem + 0.625*(100vw - 30rem)/32);
  }
}

.testimonials__button {
  width: 100%;
  padding: 0.9375rem 0.625rem;
}

.testimonials__button.button_video {
  border: 1px solid #0d1b36;
  background: #fafcff;
  -webkit-transition: background .4s ease 0s;
  transition: background .4s ease 0s;
}

.testimonials__button.button_video:hover {
  background: #a7f3ff;
}

.services {
  padding-bottom: 10.125rem;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.body-services__header {
  position: relative;
  border-radius: 10px;
  padding: 1.75rem 1.125rem 1.75rem 1.5rem;
  -webkit-box-shadow: 0 0 45px 0 rgba(0,0,0,.15);
          box-shadow: 0 0 45px 0 rgba(0,0,0,.15);
  background: #fff;
}

.body-services__header:not(:last-child) {
  margin-bottom: 4.3125rem;
}

.body-services__header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -5.8125rem;
  background: url("../img/footer/footer-block-bg.svg") no-repeat top center;
  z-index: -1;
}

.body-services__text p:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.body-services__item:not(:last-child) {
  margin-bottom: 2.25rem;
}

@supports (font-size: clamp( 1.375rem , 0.90625rem  +  1.5625vw , 1.875rem )) {
  .body-services__title_1 {
    font-size: clamp( 1.375rem , 0.90625rem  +  1.5625vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 0.90625rem  +  1.5625vw , 1.875rem )) {
  .body-services__title_1 {
    font-size: calc(1.375rem + 0.5*(100vw - 30rem)/32);
  }
}

.body-services__title_1:not(:last-child) {
  margin-bottom: 2.25rem;
}

@supports (font-size: clamp( 1.375rem , 1.19921875rem  +  0.5859375vw , 1.5625rem )) {
  .body-services__title_2 {
    font-size: clamp( 1.375rem , 1.19921875rem  +  0.5859375vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 1.19921875rem  +  0.5859375vw , 1.5625rem )) {
  .body-services__title_2 {
    font-size: calc(1.375rem + 0.1875*(100vw - 30rem)/32);
  }
}

.body-services__title_2:not(:last-child) {
  margin-bottom: 1.625rem;
}

.body-services__title_3 {
  font-size: 1.375rem;
}

.body-services__title_3:not(:last-child) {
  margin-bottom: 1.8125rem;
}

.content-services__title {
  font-weight: 600;
  color: #0d1b36;
}

@supports (font-size: clamp( 1.375rem , 0.90625rem  +  1.5625vw , 1.875rem )) {
  .content-services__title {
    font-size: clamp( 1.375rem , 0.90625rem  +  1.5625vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 0.90625rem  +  1.5625vw , 1.875rem )) {
  .content-services__title {
    font-size: calc(1.375rem + 0.5*(100vw - 30rem)/32);
  }
}

.content-services__title:not(:last-child) {
  margin-bottom: 1.8125rem;
}

.content-services__text {
  max-width: 15.9375rem;
  line-height: 1.1666666667;
  font-size: 1.125rem;
}

.content-services__text:not(:last-child) {
  margin-bottom: 0.75rem;
}

.content-services__button {
  font-size: 1.125rem;
  padding: 0.8125rem 1.875rem;
  background: #feece0;
  -webkit-transition: background .4s ease 0s;
  transition: background .4s ease 0s;
}

.content-services__button:not(:last-child) {
  margin-bottom: 0.6875rem;
}

.content-services__button:hover {
  background: #fdcfb0;
}

@media (min-width: 29.99875em) {
  .cookies-header__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .testimonials__button {
    max-width: 11.875rem;
  }
}

@media (min-width: 47.99875em) {
  .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 61.99875em) {
  .bottom-footer__actions {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .services {
    padding-top: 2.9375rem;
  }

  .body-services {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 1015px;
            flex: 0 1 1015px;
  }

  .content-services {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 255px;
            flex: 0 0 255px;
  }
}

@media (max-width: 61.99875em) {
  .menu__link {
    padding: 0.75rem 0.9375rem;
  }

  .actions-header__button {
    font-size: 0.875rem;
    padding: 0.75rem 1.25rem;
  }

  .no-webp .footer::before {
    background: url("../img/footer/bg.png") no-repeat top right 30%; }

  .footer::before {
    width: 61.25rem;
  }

  .block-footer__text {
    min-height: 15.625rem;
    padding: 2rem 1.3125rem 1.3125rem 1.3125rem;
  }

  .block-footer__text p {
    line-height: 1.6666666667;
  }

  .bottom-footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content-services__title:not(:last-child) {
    margin-bottom: 1rem;
  }

  .content-services__text {
    text-align: center;
  }
}

@media (max-width: 47.99875em) {
  .main-header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__body {
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 110%;
    padding: 8.75rem 1.25rem 2.5rem 1.25rem;
    -webkit-transition: left .4s ease 0s;
    transition: left .4s ease 0s;
    background-color: rgba(255,255,255,.34);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.9375rem 1.1875rem;
    font-size: 1.25rem;
  }

  .actions-header__button {
    padding: 0.9375rem 1.625rem;
    font-size: 1.25rem;
  }

  .icon-menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24px;
            flex: 0 0 24px;
    display: block;
    position: relative;
    width: 1.5rem;
    height: 1rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    border-radius: 5px;
    background-color: #0d1b36;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: -0.0625rem;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.125rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 29.99875em) {
  .bottom-footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .bottom-footer__copy {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .testimonials__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content-services__button {
    width: 100%;
  }
}

.webp .footer::before { background: url(../img/footer/bg.webp) no-repeat bottom right; }

.webp .testimonials::before { background: url(../img/testimonials/testimonials/bg.webp) no-repeat top 15% right; }

@media (max-width: 61.99875em) {

  .webp .footer::before { background: url(../img/footer/bg.webp) no-repeat top right 30%; }
}